# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/*/*
*.log
.metadata/.mylyn/.tasks.xml.zip
*.markers
.metadata
.recommenders/
.metadata/.*
*.prefs
ClassDefinition/.project
*.classpath
.metadata/version.ini
*.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.zip
.metadata/.mylyn/tasks.xml.zip
*.dat
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
*.json
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.log
.metadata/.log
*.ini